@model PND_WEB.ViewModels.ContainerEditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblConth</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="container.Id" />
            <div class="form-group">
                <label asp-for="container.ContNo" class="control-label"></label>
                <input asp-for="container.ContNo" class="form-control" />
                <span asp-validation-for="container.ContNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.Hbl" class="control-label"></label>
                <input asp-for="container.Hbl" class="form-control" />
                <span asp-validation-for="container.Hbl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.ContQuantity" class="control-label"></label>
                <input asp-for="container.ContQuantity" class="form-control" />
                <span asp-validation-for="container.ContQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.ContType" class="control-label"></label>
                <input asp-for="container.ContType" class="form-control" />
                <span asp-validation-for="container.ContType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.SealNo" class="control-label"></label>
                <input asp-for="container.SealNo" class="form-control" />
                <span asp-validation-for="container.SealNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.GrossWeight" class="control-label"></label>
                <input asp-for="container.GrossWeight" class="form-control" />
                <span asp-validation-for="container.GrossWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.Cmb" class="control-label"></label>
                <input asp-for="container.Cmb" class="form-control" />
                <span asp-validation-for="container.Cmb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.GoodsQuantity" class="control-label"></label>
                <input asp-for="container.GoodsQuantity" class="form-control" />
                <span asp-validation-for="container.GoodsQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="container.GoodsDepcription" class="control-label"></label>
                <input asp-for="container.GoodsDepcription" class="form-control" />
                <span asp-validation-for="container.GoodsDepcription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
