@model PND_WEB.ViewModels.AgentEditModel

@{
    ViewData["Title"] = "Edit";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Chỉnh sửa", SubTitle = "Chỉnh sửa" })


<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Chỉnh sửa agent</div>
            <div class="card-body">
                <form asp-action="AgentEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="agentAction.Code" class="control-label"></label>
                            <input asp-for="agentAction.Code" class="form-control" value=id readonly="readonly" />
                            <span asp-validation-for="agentAction.Code" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="agentAction.PersonInCharge" class="control-label"></label>
                            <input asp-for="agentAction.PersonInCharge" class="form-control" />
                            <span asp-validation-for="agentAction.PersonInCharge" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="agentAction.PhoneNumber" class="control-label"></label>
                            <input asp-for="agentAction.PhoneNumber" class="form-control" />
                            <span asp-validation-for="agentAction.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="agentAction.Email" class="control-label"></label>
                            <input asp-for="agentAction.Email" class="form-control" />
                            <span asp-validation-for="agentAction.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-8">
                            <label asp-for="agentAction.Note" class="control-label"></label>
                            @Html.TextArea("agentAction.Note", "", new { @class = "form-control" })
                            <span asp-validation-for="agentAction.Note" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="form-group">
                        <input type="submit" value="AgentCreate" class="btn btn-primary" />
                    </div>


                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <!-- END card-->
    </div>
</div>





