@model PND_WEB.Models.TblTutt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblTutt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SoTutt" />
            <div class="form-group">
                <label asp-for="Ngay" class="control-label"></label>
                <input asp-for="Ngay" class="form-control" />
                <span asp-validation-for="Ngay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanvienTutt" class="control-label"></label>
                <input asp-for="NhanvienTutt" class="form-control" />
                <span asp-validation-for="NhanvienTutt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="xacnhanduyet" class="control-label"></label>
                <input asp-for="xacnhanduyet" class="form-control" readonly/>
                <span asp-validation-for="xacnhanduyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ketoan" class="control-label"></label>
                <input asp-for="Ketoan" class="form-control" readonly />
                <span asp-validation-for="Ketoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ceo" class="control-label"></label>
                <input asp-for="Ceo" class="form-control" readonly />
                <span asp-validation-for="Ceo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
