@model PND_WEB.ViewModels.TuttEditModel

@{
    ViewData["Title"] = "Create";
}


@await Component.InvokeAsync("HeaderBody", new { Title = "Thêm mới", SubTitle = "Thêm mới" })


<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Tạo thông tin phí tạm ứng / thanh toán</div>
            <div class="card-body">
                <div id="error-message" class="text-danger mb-3"></div>
                <form asp-action="TuttCreate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="tuttphi.SoTutt" class="control-label"></label>
                            <input asp-for="tuttphi.SoTutt" class="form-control" value=@Model.id readonly="readonly" />
                            <span asp-validation-for="tuttphi.SoTutt" class="text-danger"></span>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="tuttphi.SoHoaDon" class="control-label"></label>
                            <input asp-for="tuttphi.SoHoaDon" class="form-control" />
                            <span asp-validation-for="tuttphi.SoHoaDon" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="tuttphi.TenPhi" class="control-label"></label>
                            <select asp-for="tuttphi.TenPhi" class="form-control select-fee" data-url="@Url.Action("FeeGet", "TamUngThanhToan")">
                            </select>
                            <span asp-validation-for="tuttphi.TenPhi" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="tuttphi.SoTien" class="control-label"></label>
                            <input asp-for="tuttphi.SoTien" class="form-control" />
                            <span asp-validation-for="tuttphi.SoTien" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="tuttphi.GhiChu" class="control-label"></label>
                            <input asp-for="tuttphi.GhiChu" class="form-control" />
                            <span asp-validation-for="tuttphi.GhiChu" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-xs" />
                        <a asp-action="Details" class="btn btn-info btn-xs" asp-route-id=@Model.id>Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/components/SelectList.js"></script>
}

