@model (string Title, string SubTitle, string Job_ID)

<div class="content-heading">
    <div>
        @Model.Title
        <small>@Model.SubTitle</small>
    </div>
    <div class="ml-auto">
        <a asp-action="CloseJob" asp-controller="Job" asp-route-id="@Model.Job_ID" class="btn btn-labeled btn-danger btn-xs" id="close_job">
            <span class="btn-label">
                <i class="fa fa-close"></i>
            </span>
            Close Job
        </a>
        

    </div>
</div>


