@model PND_WEB.ViewModels.InvoiceEditModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Job Form Cre</div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="invoice.Hbl" value=@Model.invoice.Hbl />

                    <div class="form-group">
                        <label asp-for="invoice.DebitId" class="control-label"></label>
                        <input asp-for="invoice.DebitId" class="form-control" />
                        <span asp-validation-for="invoice.DebitId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoice.InvoiceType" class="control-label"></label>
                        <select asp-for="invoice.InvoiceType" class="form-control select2-not-tag" data-url="@Url.Action("InvoiceTypeGet", "BuyInvoice")">
                        </select>
                        <span asp-validation-for="invoice.InvoiceType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoice.DebitDate" class="control-label"></label>
                        <input asp-for="invoice.DebitDate" class="form-control" />
                        <span asp-validation-for="invoice.DebitDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoice.PaymentDate" class="control-label"></label>
                        <input asp-for="invoice.PaymentDate" class="form-control" />
                        <span asp-validation-for="invoice.PaymentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoice.InvoiceNo" class="control-label"></label>
                        <input asp-for="invoice.InvoiceNo" class="form-control" />
                        <span asp-validation-for="invoice.InvoiceNo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoice.InvoiceDate" class="control-label"></label>
                        <input asp-for="invoice.InvoiceDate" class="form-control" />
                        <span asp-validation-for="invoice.InvoiceDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="invoice.SupplierId" class="control-label"></label>
                        <select asp-for="invoice.SupplierId" class="form-control select2-not-tag" data-url="@Url.Action("SupplierGet", "BuyInvoice")">
                        </select>

                        <span asp-validation-for="invoice.SupplierId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </form>
      
    </div>
</div>
    </div>
    <!-- END card-->
</div>
 


@section CssFile {
    <link rel="stylesheet" href="~/css/components/RequiredLabel.css" />
}


@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/components/SelectList.js"></script>

}