@model PND_WEB.ViewModels.UserRole

@{
    ViewData["Title"] = "Cập nhật role cho user";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Cập nhật role cho user", SubTitle = "Cập nhật role cho user" })

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">EDIT ROLE</div>
            <div class="card-body">
                <form asp-action="UpdateUserRole" method="post">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.Id)
                        <label asp-for="UserName" class="form-controll">Cập nhật quyền cho user: @Model.UserName</label>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Roles, new { @class = "form-controll" })
                            @Html.ListBoxFor(model => model.Roles, new MultiSelectList(Model.AllRoles,"Value","Text"), new {

                                @class = "chosen-select form-control",
                                    @id = "role_dropdown",
                                    multiple = "multiple"
                            })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary btn-xs" />
                        <a asp-action="ListUserRole" class="btn btn-info btn-xs">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}