@model PND_WEB.Models.TblCnee

@{
    ViewData["Title"] = "Create";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Tạo mới CNEE", SubTitle = "Tạo mới thông tin người nhận hàng" })

@await Component.InvokeAsync("Breadcrumb", new List<BreadcrumbItem> {
    new BreadcrumbItem { Title = "Trang chủ", Controller="Home",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Danh sách CNEE", Controller="TblCnee",Action="Index",Parameter="" },
    new BreadcrumbItem { Title = "Tạo mới CNEE", Controller="",Action="",Parameter="" }
})

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Thông tin CNEE mới</div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Cnee" class="control-label"></label>
                            <input asp-for="Cnee" class="form-control" />
                            <span asp-validation-for="Cnee" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Vcnee" class="control-label"></label>
                            <input asp-for="Vcnee" class="form-control" />
                            <span asp-validation-for="Vcnee" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Caddress" class="control-label"></label>
                            <input asp-for="Caddress" class="form-control" />
                            <span asp-validation-for="Caddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label asp-for="Vaddress" class="control-label"></label>
                            <input asp-for="Vaddress" class="form-control" />
                            <span asp-validation-for="Vaddress" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Ccity" class="control-label"></label>
                            <input asp-for="Ccity" class="form-control" />
                            <span asp-validation-for="Ccity" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="CpersonInCharge" class="control-label"></label>
                            <input asp-for="CpersonInCharge" class="form-control" />
                            <span asp-validation-for="CpersonInCharge" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="TaxId" class="control-label"></label>
                            <input asp-for="TaxId" class="form-control" />
                            <span asp-validation-for="TaxId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Haddress" class="control-label"></label>
                            <input asp-for="Haddress" class="form-control" />
                            <span asp-validation-for="Haddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-xs" />
                        <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
