@model PND_WEB.Models.TblSupplier

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblSupplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierId" />
            <div class="form-group">
                <label asp-for="NameSup" class="control-label"></label>
                <input asp-for="NameSup" class="form-control" />
                <span asp-validation-for="NameSup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Typer" class="control-label"></label>
                <input asp-for="Typer" class="form-control" />
                <span asp-validation-for="Typer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressSup" class="control-label"></label>
                <input asp-for="AddressSup" class="form-control" />
                <span asp-validation-for="AddressSup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LccFee" class="control-label"></label>
                <input asp-for="LccFee" class="form-control" />
                <span asp-validation-for="LccFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
