@model PND_WEB.Models.Mode

@{
    ViewData["Title"] = "Edit";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Sửa MODE", SubTitle = "Sửa MODE" })

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">EDIT MODE</div>
            <div class="card-body">
                <form asp-action="Edit" asp-route-modeid="@Model.Code">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" readonly/>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Note" class="control-label"></label>
                            <input asp-for="Note" class="form-control" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success btn-xs" />
                        <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
