
<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START card-->
        <div class="text-center mb-4" style="color:red">
            <div class="text-lg mb-3">403</div>
            <p class="lead m-0">Bạn ko có quyền truy cập vào trang này</p>
            <p>Vui lòng liên hệ với admin để xin quyền truy cập</p>
        </div>
      
        <ul class="list-inline text-center text-sm mb-4">
            <li class="list-inline-item">
                <a class="text-muted" asp-controller="Home" asp-action="Index">Home</a>
            </li>
           
         
        </ul>
        <div class="p-3 text-center">
            <span class="mr-2">&copy;</span>
            <span>2025</span>
            <span class="mr-2">-</span>
            <span>PND</span>
            <br>
            <span>More than logistics</span>
        </div>
    </div>
</div>

