@model PND_WEB.Models.BlType

@{
    ViewData["Title"] = "Create";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Thêm BL type", SubTitle = "Thêm BL type" })

<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">CREATE BL TYPE</div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="BlName" class="control-label"></label>
                            <input asp-for="BlName" class="form-control" />
                            <span asp-validation-for="BlName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Note" class="control-label"></label>
                        <input asp-for="Note" class="form-control" />
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-xs" />
                        <a asp-action="Index" class="btn btn-info btn-xs">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
