@model PND_WEB.Models.TblJob

@{
    ViewData["Title"] = "Create";
}

@await Component.InvokeAsync("HeaderBody", new { Title = "Tạo mới job", SubTitle = "Tạo mới job" })



<div class="row">
    <div class="col">
        <div class="card card-default">
            <div class="card-header">Job Form Stack</div>
            <div class="card-body">
                <form asp-action="Create">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="JobId" value="0" />

                    <div class="form-row">
                        <div class="form-group col-4">
                            <label asp-for="GoodsType" class="control-label">Kiểu hàng hóa</label>
                            <select asp-for="GoodsType" class="form-control select2-not-tag" data-url="@Url.Action("GoodsTypeGet", "Job")">
                           
                            </select>
                            <span asp-validation-for="GoodsType" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Etd" class="control-label"></label>
                            <input asp-for="Etd" class="form-control" type="date" />
                            <span asp-validation-for="Etd" class="text-danger"></span>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="Eta" class="control-label"></label>
                            <input asp-for="Eta" class="form-control" type="date" />
                            <span asp-validation-for="Eta" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label asp-for="Agent" class="control-label"></label>
                            <select asp-for="Agent" class="form-control select2-not-tag" data-url="@Url.Action("AgentGet", "Job")">
                                
                             
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="Carrier" class="control-label"></label>
                            <select asp-for="Carrier" class="form-control select2-not-tag" data-url="@Url.Action("CarrierGet", "Job")">
                                
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                    
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
        <!-- END card-->
 </div>











@section Scripts {
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/components/SelectList.js"></script>
 
}
